language: python

matrix:
  include:
    - python: 3.5
      env: TOXENV=py35
    - python: 3.6
      env: TOXENV=py36

install:
  - python -mpip install tox
script:
  - tox
after_success:
  - tox -e coveralls
