recursive-include pushapkscript/data *

include LICENSE
include README.rst
include config_example.json
include version.txt
include requirements*.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
