recursive-include signingscript/test *
recursive-include signingscript/data *

include LICENSE
include README.rst
include config_example.json
include version.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
