recursive-include applescript/test *
recursive-include applescript/data *

include LICENSE
include README.md
include config_example.json
include version.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
