scriptworker

# XXX Dependencies required by snapcraft._store.push
click
progressbar33
pyelftools
pymacaroons
pysha3
python-debian
pyxdg
PyYAML
requests
requests-toolbelt
requests-unixsocket
simplejson
tabulate
