[tool.black]
line-length = 160
target-version = ["py39", "py38"]
include = '\.(wsgi|pyi?)$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | \.cache
  | \.cache_py3
  | _build
  | buck-out
  | build
  | dist
  | ui
  | vendored
)/
| ^/tests/vendored/robustcheckout\.py$
'''

[tool.isort]
skip_glob = '**vendored**'
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 160
known_first_party = 'treescript'
